div {
    display: grid;
    gap: 250px;
    background-color: transparent;
    top: 0;
    left: 0;
    @media only screen and (max-width: 600px) {
        padding: 300px 20px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Set minimum height for full viewport */
  }
  


.info-text {
    margin-bottom: 40px; /* Add spacing between information sections */
  }
  
  .info-text h2 {
    margin-bottom: 10px; /* Add spacing between title and text */
  }